server:
  port: 9000

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true


      routes:
        - id: admin-service
          uri: lb://ADMINSERVICE
          predicates:
            - Path=/admin/**
            - Method=GET,POST
          filters:
            - AddRequestHeader=X-Custom-Header, Sanjeeban

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
